500 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "ico.ico"

1000 IMAGE MOVEABLE PURE LOADONCALL DISCARDABLE "off.gif"
1001 IMAGE MOVEABLE PURE LOADONCALL DISCARDABLE "on.gif"

1 24 MOVEABLE PURE LOADONCALL DISCARDABLE "1.xml"