
1 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "Misc\main.ico"
1788 IMAGE MOVEABLE PURE LOADONCALL DISCARDABLE "Misc\bg2.gif"
1789 IMAGE MOVEABLE PURE LOADONCALL DISCARDABLE "Misc\bg.gif"
1790 IMAGE MOVEABLE PURE LOADONCALL DISCARDABLE "Misc\do_off.gif"
1791 IMAGE MOVEABLE PURE LOADONCALL DISCARDABLE "Misc\do_on.gif"
1792 IMAGE MOVEABLE PURE LOADONCALL DISCARDABLE "Misc\exit_off.gif"
1793 IMAGE MOVEABLE PURE LOADONCALL DISCARDABLE "Misc\exit_on.gif"
1794 IMAGE MOVEABLE PURE LOADONCALL DISCARDABLE "Misc\bout_off.gif"
1795 IMAGE MOVEABLE PURE LOADONCALL DISCARDABLE "Misc\bout_on.gif"
1796 IMAGE MOVEABLE PURE LOADONCALL DISCARDABLE "Misc\mail_off.gif"
1797 IMAGE MOVEABLE PURE LOADONCALL DISCARDABLE "Misc\mail_on.gif"
1798 IMAGE MOVEABLE PURE LOADONCALL DISCARDABLE "Misc\visit_off.gif"
1799 IMAGE MOVEABLE PURE LOADONCALL DISCARDABLE "Misc\visit_on.gif"

8000 IMAGE MOVEABLE PURE LOADONCALL DISCARDABLE "Misc\mAnim\m00.jpg"
8001 IMAGE MOVEABLE PURE LOADONCALL DISCARDABLE "Misc\mAnim\m01.jpg"
8002 IMAGE MOVEABLE PURE LOADONCALL DISCARDABLE "Misc\mAnim\m02.jpg"
8003 IMAGE MOVEABLE PURE LOADONCALL DISCARDABLE "Misc\mAnim\m03.jpg"
8004 IMAGE MOVEABLE PURE LOADONCALL DISCARDABLE "Misc\mAnim\m04.jpg"
8005 IMAGE MOVEABLE PURE LOADONCALL DISCARDABLE "Misc\mAnim\m05.jpg"
8006 IMAGE MOVEABLE PURE LOADONCALL DISCARDABLE "Misc\mAnim\m06.jpg"
